Repository river-build/river, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sergekh2, @texuf, @mechanical-turk, @erikolsson

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
##
## "Code Owners" is an unfortunate name, as we do not encourage "ownership"
## of code per se.
##
## Please add your name here if you would like to be notified any time
## a change is made in a particular file or folder.
##
## We do this to help individuals keep their mental model of the codebase
## up to date, and to make sure everyone who wants to be part of the conversation
## is automagically added to the it.
##
## We do not do this to create dictators, benevolent or otherwise.
##
## IMPORTANT - If you add yourself as a code owner, please take it upon yourself
## to review code at minimum, at the beginning, and end, of each work day.
## Please either comment, approve, request changes, or remove yourself as a reviewer.
## The SLA on reviews is 24 hours. After 24 hours a PR without comments will be
## considered defacto approved and can be committed. However feedback can come
## at any time! We are an asynchronous team of imperfect humans. If anyone, code
## owner or otherwise, comments on your code at any time, please assume the best
## intentions and respond with care and consideration.
##
## To see reviews that are waiting for your attention,
## please visit: https://github.com/river-build/river/pulls?q=is%3Apr+is%3Aopen+user-review-requested%3A%40me
##

/core/ @sergekh2
/packages/ @sergekh2
/protocol/ @sergekh2
/core/node/events @texuf
/core/node/protocol @texuf
/core/node/protocol_extensions @texuf
/core/node/rules @texuf
/packages/ @texuf
/protocol/ @texuf
/.github/ @mechanical-turk
/infra @mechanical-turk
turbo.json @mechanical-turk
/contracts/src/node-network @mechanical-turk
/packages/sdk/src/stream* @erikolsson

node: set default GDM memberschip limit to 48
  core/node/crypto/config.go
  scripts/gen-riverchain-config.sh
Owners: @sergekh2

update space implementation proxy on mainnet (#126)
  contracts/scripts/deployments/DeploySpace.s.sol
  contracts/scripts/deployments/facets/DeployMembership.s.sol
  packages/generated/deployments/omega/base/addresses/space.json
Owners: @texuf

fix arg
  packages/stress/src/utils/stressClient.ts
Owners: @texuf

SpaceDapp: set description when creating or updating channel
  packages/web3/src/ISpaceDapp.ts
  packages/web3/src/Utils.ts
  packages/web3/src/v3/SpaceDapp.ts
Owners: @texuf

fix test
  packages/sdk/src/util.test.ts
Owners: @texuf

node: set default GDM memberschip limit to 48 (#134)
  core/node/crypto/config.go
  scripts/gen-riverchain-config.sh
Owners: @sergekh2

node: Add extra conversion method to chain config
  core/node/crypto/config.go
Owners: @sergekh2

node: Add extra conversion method to chain config (#135)
  core/node/crypto/config.go
Owners: @sergekh2

Jt/release git tag (#130)
  .github/workflows/River_node_docker.yml
  scripts/create-new-release-tag.sh
Owners: @mechanical-turk

SpaceDapp: set description when creating or updating channel (#114)
  packages/sdk/src/util.test.ts
  packages/stress/src/utils/stressClient.ts
  packages/web3/src/ISpaceDapp.ts
  packages/web3/src/Utils.ts
  packages/web3/src/v3/SpaceDapp.ts
Owners: @texuf

Partial - why is test passing?
  core/node/auth/auth_impl.go
  core/node/auth/auth_impl_cache.go
  core/node/default_config.yaml
  core/node/rpc/add_event.go
  core/node/rules/process_entitlement_loss.go
  packages/sdk/src/channelsWithEntitlements.test.ts
  packages/sdk/src/util.test.ts
  packages/web3/src/TestGatingNFT.ts
Owners: @sergekh2, @texuf

v2 of referrals
  contracts/scripts/deployments/facets/DeployMembershipReferral.s.sol
  contracts/src/spaces/facets/membership/MembershipFacet.sol
  contracts/src/spaces/facets/membership/referral/IMembershipReferral.sol
  contracts/src/spaces/facets/membership/referral/MembershipReferralBase.sol
  contracts/src/spaces/facets/membership/referral/MembershipReferralFacet.sol
  contracts/src/spaces/facets/membership/referral/MembershipReferralStorage.sol
Owners: none

update removeEntitlement to only be called by space
  contracts/src/spaces/entitlements/rule/IRuleEntitlement.sol
  contracts/src/spaces/entitlements/rule/RuleEntitlement.sol
  contracts/test/crosschain/RuleEntitlement.t.sol
Owners: none

add spaceIdFromChannelId helper
  packages/sdk/src/id.ts
Owners: @texuf

Banning fix plus test cases.
  core/node/auth/banning.go
  core/node/auth/banning_test.go
  packages/sdk/src/channelsWithEntitlements.test.ts
Owners: @sergekh2, @texuf

Remove test case skips.
  packages/sdk/src/channelsWithEntitlements.test.ts
Owners: @texuf

SpaceDapp: add platformRequirements to ISpaceDapp
  packages/web3/src/ISpaceDapp.ts
Owners: @texuf

Report blockchain connection status in /status JSON and /debug/multi
  core/node/rpc/render/templates/info/index.template.html
  core/node/rpc/render/types.go
  core/node/rpc/server.go
  core/node/rpc/service.go
  core/node/rpc/status.go
  core/node/rpc/statusinfo/node_status.go
Owners: @sergekh2

update /debug/multi
  core/node/rpc/multi.go
  core/node/rpc/render/templates/debug/multi.template.html
Owners: @sergekh2

prettier
  core/node/rpc/render/templates/info/index.template.html
Owners: @sergekh2

Report blockchain connection status in /status JSON and /debug/multi (#141)
  core/node/rpc/multi.go
  core/node/rpc/render/templates/debug/multi.template.html
  core/node/rpc/render/templates/info/index.template.html
  core/node/rpc/render/types.go
  core/node/rpc/server.go
  core/node/rpc/service.go
  core/node/rpc/status.go
  core/node/rpc/statusinfo/node_status.go
Owners: @sergekh2

node: decrease stream cache poll interval log level
  core/node/events/stream_cache.go
Owners: @texuf

node: log chain config changes once
  core/node/crypto/config.go
Owners: @sergekh2

Stop logging chain configuration too often (#142)
  core/node/crypto/config.go
  core/node/events/stream_cache.go
Owners: @sergekh2, @texuf

node: use default logger
  core/node/crypto/config.go
Owners: @sergekh2

node: use default logger (#143)
  core/node/crypto/config.go
Owners: @sergekh2

node: make linter happy
  core/node/crypto/config.go
Owners: @sergekh2

fix linter issue (#144)
  core/node/crypto/config.go
Owners: @sergekh2

SpaceDapp: add platformRequirements to ISpaceDapp (#140)
  packages/web3/src/ISpaceDapp.ts
Owners: @texuf

Fix bad file path in comment (#131)
  core/node/events/migrations/migrate_snapshot.go
Owners: @texuf
